<div class="card" >
    <img [src]="emp.empImage" 
    class="card-img-top img-fluid" 
    [alt]="emp.empName">

    <div class="card-body">
      <h5 class="card-title">{{emp.empName|titlecase}}</h5>
      <p class="card-text">
        Salary :- {{emp.empSalary|currency:"INR"}}
        </p>
        <p class="card-text">
            Department :- {{emp.empDept}}
        </p>
        <p class="card-text">
            Birth Date :- {{emp.empDOB|date:"mediumDate"}}
        </p>
     <!-- <button class="btn btn-primary" (click)="showId(emp.empId)">Click me</button> -->
      <p>
        <button [routerLink]="['/detail',emp.empId]"
        class="btn btn-outline-primary">
                <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-outline-danger m-2" (click)
            ="deleteemp(emp.empId)">
              <i class="bi bi-trash-fill"></i>
            </button>
      </p>
    </div>
  </div>